<p>weather-with-forms works!</p>
<div class="container">
    <h1>Location Form</h1>
    <form #locationForm="ngForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="latitud">Latitud</label>
            <input type="number" class="form-control" id="latitud" required [(ngModel)]="locationObj.latitud" 
            name="latitud" #latitud="ngModel">
            <div [hidden]="latitud.valid || latitud.prisline" class="alert alert-danger">
                Latitude is required
            </div>
        </div>
        <div class="form-group">
            <label for="longitud">Longitud</label>
            <input type="number" class="form-control" id="longitud" required [(ngModel)]="locationObj.longitud" 
            name="longitud" #longitud="ngModel">
            <div [hidden]="longitud.valid || longitud.prisline" class="alert alert-danger">
                Longitude is required
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!locationForm.form.valid">Submit</button>
    </form>
    <div class="card text-center" *ngFor="let wf of weatherForms">
        <div class="card-header">
            El clima es:
        </div>
        <div class="card-body">
            <div [ngSwitch]="wf.main">
                <div *ngSwitchCase="'Thunderstorm'">
                    <h5 class="card-title">Tormenta</h5>
                </div>
                <div *ngSwitchCase="'Drizzle'">
                    <h5 class="card-title">Llovizna</h5>
                </div>
                <div *ngSwitchCase="'Rain'">
                    <h5 class="card-title">Lluvia</h5>
                </div>
                <div *ngSwitchCase="'Snow'">
                    <h5 class="card-title">Nieve</h5>
                </div>
                <div *ngSwitchCase="'Mist'">
                    <h5 class="card-title">Niebla</h5>
                </div>
                <div *ngSwitchCase="'Smoke'">
                    <h5 class="card-title">Humo</h5>
                </div>
                <div *ngSwitchCase="'Haze'">
                    <h5 class="card-title">Niebla</h5>
                </div>
                <div *ngSwitchCase="'Dust'">
                    <h5 class="card-title">Polvo</h5>
                </div>
                <div *ngSwitchCase="'Fog'">
                    <h5 class="card-title">Niebla</h5>
                </div>
                <div *ngSwitchCase="'Sand'">
                    <h5 class="card-title">Arena</h5>
                </div>
                <div *ngSwitchCase="'Ash'">
                    <h5 class="card-title">Ceniza</h5>
                </div>
                <div *ngSwitchCase="'Squall'">
                    <h5 class="card-title">Aguacero</h5>
                </div>
                <div *ngSwitchCase="'Tornado'">
                    <h5 class="card-title">Tornado</h5>
                </div>
                <div *ngSwitchCase="'Clear'">
                    <h5 class="card-title">Despejado</h5>
                </div>
                <div *ngSwitchCase="'Clouds'">
                    <h5 class="card-title">Nublado</h5>
                </div>
                <div *ngSwitchDefault>Not Found</div>
            </div>
            <div [ngSwitch]="wf.icon">
                <div *ngSwitchCase="'01d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'01n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'02d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'02n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'03d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'03n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'04d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'04n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'09d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'09n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'10d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'10n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'11d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'11n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'13d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'13n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'50d'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchCase="'50n'">
                    <img src="./assets/icons/{{wf.icon}}.png" alt="">
                </div>
                <div *ngSwitchDefault>Not Found</div>
            </div>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>